*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 26, 26);
    color:white;
}

ul{
    display:flex;
    justify-content: flex-end; 
    margin-right: 30px;
    margin-top: 20px;
}

li{
    list-style-type: none;
    margin-right: 30px;
}

a:hover{
    color:blue;
}

a{
    text-decoration: none;
    color:whitesmoke;
}